<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2020-10-10 19:43:26
 * @LastEditors: sueRimn
 * @LastEditTime: 2020-10-17 10:30:53
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <style>
        #app{
            height: 100vh;
            background-color: #f0f0f0;
        }
        .box-area{
            margin-top: 100px;
        }
    </style>
</head>
<body>
   <div id="app">
        <div class="container">
            <div class="box-area">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 label-control">用户名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="请输入用户名" v-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 label-control">密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" placeholder="请输入密码" v-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button class="btn btn-success" @click="login">登录</button>
                            <a href="./forgetCode.html" class="btn btn-link">忘记密码</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>   
</body>
<script src="./js/jQuery.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/vue.js"></script>
<script>
    const vm=new Vue({
        el:"#app",
        data:{
            username:"",
            password:""
        },
        methods: {
            login(){
                console.log(this.username,this.password)
                var username=this.username;
                var password=this.password;
                var states=1;//以管理员身份进入
                if(!username){
                    alert("请输入用户名")
                    return;
                }
                if(!password){
                    alert("请输入密码");
                    return;
                }

                $.ajax({
                    url:"http://localhost:3000/login",
                    type:"POST",
                    data:{
                        username,
                        password,
                        states
                    },
                    success:res=>{
                        if(res.code==1){
                            console.log(res)
                            var adminInfo=res.data;
                            sessionStorage.setItem("adminInfo",adminInfo);
                            // window.location.href=""
                            window.open("./index.html")//
                        }else if(res.code==2){
                            alert(res.msg)
                        }else{
                            alert(res.msg) 
                        }
                    },
                    error:err=>{
                        console.log(err)
                    }
                })
            }
        },
    })
</script>
</html>